/* Ini Style Css */

/* Navbar */
.navbar {
  background-color: #001f3f;
}

.navbar-brand img {
  border-radius: 3px;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #d62c2c;
}

.navbar-nav .nav-link.active {
  color: #d62c2c;
  font-weight: bold;
}

.btn-signup {
  background-color: #d62c2c;
  border-color: #d62c2c;
  color: white;
}

.btn-signup:hover {
  background-color: white;
  border-color: white;
  color: #001f3f;
}

/* Custom Toggler Button */
.custom-toggler {
  border: none;
  /* Menghapus border */
  padding: 0.5rem;
  border-radius: 5px;
}

/* Mengubah warna ikon toggler */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Tambahkan efek hover jika diinginkan */
.custom-toggler:hover {
  background-color: #d62c2c;
  /* Warna biru lebih gelap */
}

/* End Navbar */

/* Carousel card */
.carousel-inner img {
  max-height: 500px;
  /* Atur tinggi maksimum */
  height: auto;
  object-fit: cover;
  /* Menyesuaikan gambar tanpa mengubah proporsi */
}

.carousel {
  width: 100%;
  /* Lebar penuh sesuai layar */
  margin: 0 auto;
  /* Agar tetap di tengah */
}

/* Keunggulan BBC */
.custom-list-group {
  border: none;
  /* Hilangkan border keseluruhan */
  border-radius: 0;
  /* Hilangkan tepi melengkung */
  overflow: hidden;
  /* Tetap menghilangkan overflow */
}

.custom-list-group .list-group-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  /* Pastikan latar belakang tetap putih */
  transition: background-color 0.3s ease;
  /* Animasi saat hover */
}

.custom-list-group .list-group-item+.list-group-item {
  margin-top: 8px;
  /* Jarak antar item */
}

.custom-list-group .list-group-item:hover {
  background-color: #f8f9fa;
  /* Warna latar saat hover */
}

.custom-list-group .icon {
  margin-right: 10px;
  color: #d62c2c;
  font-size: 18px;
  font-weight: bold;
}

/* End */

/* Harga Program */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.row>.col {
  margin-bottom: 1rem;
  /* Jarak antar card */
}

.card {
  border: none;
  /* Hilangkan border default */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Tambahkan bayangan */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  /* Efek hover mengangkat card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #001f3f;
  /* Warna biru untuk header */
  color: white;
  /* Teks putih di header */
  font-weight: bold;
  border-radius: 0.5rem 0.5rem 0 0;
  /* Round corners atas */
}

.card-body {
  background-color: white;
  /* Warna latar belakang putih */
}

.pricing-card-title {
  color: #d62c2c;
  /* Warna biru untuk harga */
  font-weight: bold;
}

ul {
  text-align: left;
  /* Rata kiri untuk daftar */
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
  /* Spasi antar item daftar */
}

.center-card {
  margin: 0 auto;
  /* Menambahkan margin otomatis untuk menempatkan card di tengah */
}

.text-center-container {
  display: flex;
  justify-content: center;
  /* Pusatkan secara horizontal */
  align-items: center;
  /* Opsional: Pusatkan secara vertikal */
}

.underline-title {
  position: relative;
  display: inline-block;
  /* Agar ukurannya menyesuaikan dengan teks */
  margin-bottom: 20px;
  /* Opsional: Sesuaikan jarak antara teks dan garis */
  text-align: center;
}

.underline-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  /* Ketebalan garis */
  background-color: #d62c2c;
  /* Warna garis */
  margin-top: 5px;
  /* Jarak garis dari teks */
}

/* End */

/* Accordion Styling */
.custom-accordion .accordion-item {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-accordion .accordion-header {
  background-color: #007bff;
  /* Warna biru */
  color: white;
}

.custom-accordion .accordion-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.custom-accordion .accordion-button:hover {
  background-color: #0056b3;
  /* Biru gelap */
}

.custom-accordion .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #0056b3;
}

.custom-accordion .accordion-body {
  background-color: #f8f9fa;
  color: #343a40;
  font-size: 0.95rem;
  padding: 1rem;
}

/* Transition Effects */
.accordion-button,
.accordion-collapse {
  transition: all 0.3s ease;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container iframe {
  max-width: 100%;
  /* Responsif pada perangkat kecil */
}

/* Custom Toggler Button */
.custom-toggler {
  border: none;
  /* Menghapus border */
  padding: 0.5rem;
  border-radius: 5px;
}

/* Mengubah warna ikon toggler */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Tambahkan efek hover jika diinginkan */
.custom-toggler:hover {
  background-color: #d62c2c;
}

/* KONTAK */

.contact-section {
  background-color: #001f3f;
  color: white;
  padding: 50px 20px;
}

.contact-section .form-floating input,
.contact-section .form-floating textarea {
  background-color: white;
  color: black;
}

.contact-section .form-floating label {
  color: #333;
}

.contact-section .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-section .contact-info div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-section .contact-info div img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.contact-section button {
  background-color: #d62c2c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.contact-section button:hover {
  background-color: #7a0000;
}

.icon {
  width: 50px;
  /* Atur ukuran ikon jika perlu */
  height: 50px;
}

.contact-item a {
  color: white;
  /* Ubah warna teks menjadi putih */
  font-size: 1.5rem;
  /* Perbesar ukuran teks */
  font-weight: 500;
  /* Tambahkan ketebalan teks jika diperlukan */
  text-decoration: none;
  /* Hapus garis bawah dari teks */
}

.contact-item a:hover {
  color: #4cf3ff;
  /* Warna teks saat hover */
}

/* LOGIN */
form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.form-control {
  color: black;
  border-bottom-color: black;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0px;
}

.input-group-text {
  background-color: transparent !important;
  /* Hilangkan latar belakang */
  border: none !important;
  /* Hilangkan border */
  padding: 0 !important;
  /* Kurangi padding bawaan */
}

.gradient-background {
  background: linear-gradient(to right,
      /* Mengatur gradien horizontal */
      rgb(16, 0, 0),
      /* Warna pertama */
      rgba(2, 1, 106, 1),
      /* Warna kedua */
      rgba(0, 4, 255, 1)
      /* Warna ketiga */
    );
}

@media only screen and (max-width: 600px) {
  form {
    width: 100% !important;
  }
}

/* REGISTER */
.container-fluid {
  display: flex;
  /* Aktifkan flexbox */
  justify-content: center;
  /* Posisikan horizontal ke tengah */
  align-items: center;
  /* Posisikan vertikal ke tengah */
  min-height: 100vh;
  /* Tinggi minimum sama dengan tinggi viewport */
}

/* About */
.hero-section {
  position: relative;
  height: 400px;
  background: linear-gradient(rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)),
    url("/static/img/profil_bbc.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  padding: 50px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #001f3f;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.hero-content p {
  color: #2c3e50;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn-daftar {
  background-color: #d62c2c;
  color: white;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-daftar:hover {
  background-color: #b22222;
  color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.content-container {
  background: linear-gradient(180deg, #001f3f 30%, #003366 100%);
  color: #ffffff;
}

.text-white h2,
.text-white h3 {
  font-weight: bold;
}

.vision-card,
.mission-card {
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, background 0.3s ease;
}

.vision-card:hover,
.mission-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.2);
}

.list-group-item {
  border: none;
  padding: 15px 20px;
  font-size: 1.1rem;
}

.list-group-item i {
  font-size: 1.4rem;
  vertical-align: middle;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid #d62c2c;
  border-radius: 10px;
  padding: auto;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #d62c2c;
  color: white;
}

.flip-card-back {
  background-color: white;
  border-color: white;
  color: #001f3f;
  transform: rotateY(180deg);
}

.shadow-lg {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.grade-section {
  background-color: white;
  padding: 50px 0;
  color: #001f3f;
}

.grade-card {
  background-color: #f4f8fb;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.grade-card:hover {
  transform: scale(1.05);
}

.grade-card h5 {
  font-size: 1.2rem;
  color: #001f3f;
  font-weight: bold;
}

.grade-card p {
  color: #555;
}

.circle-image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.teach-section {
  background-color: #001f3f;
  color: #ffffff;
  padding: 50px 0;
}

/* Program */
.program .card-img-top {
  height: 200px;
  object-fit: cover;
}

.program .row-center {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.program .card-body {
  background-color: #d62c2c;
  color: #fff;
  border-radius: 0 0 5px 5px;
}

.program .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.program .card-text {
  font-size: 0.9rem;
  line-height: 1.5;
}

.program button.btn-primary {
  background-color: #007bff;
  border: none;
  font-size: 0.9rem;
}

.program button.btn-primary:hover {
  background-color: #0056b3;
  border: none;
  font-size: 0.9rem;
}

.program img.card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mekanisme-belajar-section {
  padding: 2rem;
  background: linear-gradient(135deg, #f8d7da, #ffe0e6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mekanisme-belajar-section h2 {
  color: #dc3545;
  font-weight: bold;
}

.mekanisme-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mekanisme-wrapper img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Detail Program */
.detail-section {
  position: relative;
  height: 350px;
  background: linear-gradient(rgba(241, 48, 48, 0.884), rgba(247, 125, 125, 0.829)),
    url("/static/img/program_bbc.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.detail-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.detail-content p {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
}

.detail-section .btn-daftar {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.detail-section .btn-daftar:hover {
  background-color: #0056b3;
  color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-success {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 10px 20px;
  border-radius: 8px;
  background: linear-gradient(45deg, #e74c3c, #ff7f50 ); /* Gradasi merah ke oranye */
  color: #fff; /* Warna teks putih */
  border: none; /* Menghilangkan border */
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}

.btn-success:hover {
  background: linear-gradient(45deg, #ff5733, #ffa502); /* Gradasi saat hover */
  transform: scale(1.05); /* Efek zoom */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Menambah bayangan */
}

/* Footer */
footer {
  background-color: #d62c2c;
}