<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulir Pendaftaran</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Tambahkan SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />    -->

    <style>
      /* Navbar */
      .navbar {
        background-color: #001f3f;
      }

      .navbar-brand img {
        border-radius: 3px;
      }

      .navbar-nav .nav-link {
        color: #fff;
      }

      .navbar-nav .nav-link:hover {
        color: #d62c2c;
      }

      .navbar-nav .nav-link.active {
        color: #d62c2c;
        font-weight: bold;
      }

      /* Aktifkan dropdown saat hover */
      .nav-item.dropdown:hover .dropdown-menu {
        display: block;
      }

      .nav-item.dropdown .dropdown-menu {
        margin-top: 0;
      }

      .nav-item.dropdown:hover > .nav-link {
        color: #d62c2c;
      }

      /* Pastikan ikon dropdown berada di sebelah kanan teks */
      .navbar .dropdown-toggle {
        display: flex;
        align-items: center; /* Menyelaraskan teks dan ikon secara vertikal */
      }

      .navbar .dropdown-toggle::after {
        margin-left: 0.5em; /* Menambahkan jarak antara teks dan ikon */
        vertical-align: middle; /* Menyelaraskan ikon secara vertikal */
      }

      .btn-signup {
        background-color: #d62c2c;
        border-color: #d62c2c;
        color: white;
      }

      .btn-signup:hover {
        background-color: white;
        border-color: white;
        color: #001f3f;
      }

      /* Custom Toggler Button */
      .custom-toggler {
        border: none;
        /* Menghapus border */
        padding: 0.5rem;
        border-radius: 5px;
      }

      /* Mengubah warna ikon toggler */
      .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }

      /* Tambahkan efek hover jika diinginkan */
      .custom-toggler:hover {
        background-color: #d62c2c;
        /* Warna biru lebih gelap */
      }

      /* End Navbar */

      /* CSS FORMULIR */
      /* FORM WRAPPER */
      .formulir {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.626),
            rgba(0, 0, 0, 0.599)
          ),
          url("/static/img/bbc_office.jpeg");
        background-size: cover;
        color: #333;
      }

      .form-wrapper {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: auto;
        padding: 20px;
      }

      /* FORM REGISTER */
      .form-register {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      /* BUTTON CONTAINER */
      .btn-container {
        display: flex;
        gap: 10px;
        margin-top: 10px;
      }

      /* RESPONSIVE: Gambar di bawah teks pada layar kecil */
      @media (max-width: 768px) {
        .form-wrapper {
          flex-direction: column; /* Tata letak vertikal */
          gap: 20px; /* Jarak antara elemen */
        }

        .form-section {
          padding-right: 0; /* Hilangkan padding kanan */
        }
      }
      footer {
        background-color: #d62c2c;
      }
    </style>
  </head>
  <body class="formulir">
    <!-- NAVBAR -->
    <header>
      <nav class="navbar navbar-expand-lg py-2">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="{{ url_for('static', filename='img/logo_bbc.png') }}"
              alt="Logo"
              width="75"
            />
          </a>
          <button
            class="navbar-toggler custom-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Tentang Kami</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Program
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#">English for Children</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">English for Teens</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">English for Adult</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">English Private Class</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"
                      >TOEFL/TOEIC Preparation</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Kontak</a>
              </li>
            </ul>
            <!-- Buttons (Masuk and Daftar) -->
            {% if session['logged_in'] %}
            <div id="logout-animation" class="hidden">
              <button
                onclick="location.href='/logout'"
                class="btn btn-outline-light me-2"
              >
                Logout
              </button>
            </div>
            {% else %}
            <button
              onclick="location.href='/login'"
              class="btn btn-outline-light me-2"
            >
              Masuk
            </button>
            <button onclick="location.href='/register'" class="btn btn-signup">
              Daftar
            </button>
            {% endif %}


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulir Pendaftaran</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body class="formulir">
  <!-- NAVBAR -->
  <header>
    <nav class="navbar navbar-expand-lg py-2">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='img/logo_bbc.png') }}" alt="Logo" width="75" />
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Tentang Kami</a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="/program" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Program
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/program/children">English for Children</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/program/teens">English for Teens</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/program/adult">English for Adult</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/program/private">English Private Class</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/program/toefl">TOEFL/TOEIC Preparation</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Kontak</a>
            </li>
          </ul>
          <!-- Buttons (Masuk and Daftar) -->
          {% if session['logged_in'] %}
          <div id="logout-animation" class="hidden">
            <button onclick="location.href='/logout'" class="btn btn-outline-light me-2">Logout</button>

          </div>
          {% else %}
          <button onclick="location.href='/login'" class="btn btn-outline-light me-2">Masuk</button>
          <button onclick="location.href='/register'" class="btn btn-signup">Daftar</button>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <!-- NAVBAR END -->


    <!-- FORM START -->
    <div class="container my-5 mb-2">
      <h2 class="text-center text-white mt-2">FORMULIR PENDAFTARAN</h2>

      <div class="form-wrapper">
        <form
          action="/submit-form"
          method="POST"
          enctype="multipart/form-data"
          id="registrationForm"
        >
          <!-- Form baris 1 -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="complitename" class="form-label">Nama Siswa</label>
              <input
                type="text"
                class="form-register"
                id="complitename"
                name="complitename"
                placeholder="Masukkan Nama"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="address" class="form-label">Alamat Siswa</label>
              <input
                type="text"
                class="form-register"
                id="address"
                name="address"
                placeholder="Masukkan Alamat"
                required
              />
            </div>

  <!-- FORM START -->
  <div class="container my-5 mb-2">
    <h2 class="text-center text-white mt-2">FORMULIR PENDAFTARAN</h2>

    <div class="form-wrapper mx-auto p-4">
      <!-- Form baris 1 -->
      <div class="custom-form">
        <div class="row mb-3" id="registrationForm">
          <div class="col-md-6">
            <label for="complitename" class="form-label">Nama Siswa</label>
            <input type="text" class="form-register" id="complitename" placeholder="Masukkan Nama" required>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label">Alamat Siswa</label>
            <input type="text" class="form-register" id="address" placeholder="Masukkan Alamat" required>
          </div>
        </div>

        <!-- form baris 2 -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="gender" class="form-label">Jenis Kelamin</label>
            <select class="form-register" id="gender" required>
              <option value="" disabled selected>Pilih Jenis Kelamin</option>
              <option value="laki-laki">Laki-laki</option>
              <option value="perempuan">Perempuan</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="parents" class="form-label">Nama Orang Tua</label>
            <input type="text" class="form-register" id="parents" placeholder="Masukkan Nama" required>

          </div>


          <!-- Form baris 2 -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="gender" class="form-label">Jenis Kelamin</label>
              <select class="form-register" id="gender" name="gender" required>
                <option value="" disabled selected>Pilih Jenis Kelamin</option>
                <option value="laki-laki">Laki-laki</option>
                <option value="perempuan">Perempuan</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="parents" class="form-label">Nama Orang Tua</label>
              <input
                type="text"
                class="form-register"
                id="parents"
                name="parents"
                placeholder="Masukkan Nama"
                required
              />
            </div>

        <!-- form baris 3 -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="program" class="form-label">Program yang dipilih</label>
            <select class="form-register mb-3" id="program" aria-label="Default select example"
              onchange="updateLevelOptions(); updateDescription()" required>
              <option selected value="">Pilih Program</option>
              <option value="children">English for Children</option>
              <option value="teens">English for Teens</option>
              <option value="adults">English for Adults</option>
              <option value="private">English Private Class</option>
              <option value="toefl">TOEFL/TOEIC Preparation</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label">No. HP</label>
            <input type="text" class="form-register" id="phone" placeholder="Masukkan No. HP" required>

          </div>


          <!-- Form baris 3 -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="program" class="form-label"
                >Program yang dipilih</label
              >
              <select
                class="form-register mb-3"
                id="program"
                name="program"
                onchange="updateLevelOptions(); updateDescription()"
                required
              >
                <option selected value="">Pilih Program</option>
                <option value="children">English for Children</option>
                <option value="teens">English for Teens</option>
                <option value="adults">English for Adults</option>
                <option value="private">English Private Class</option>
                <option value="toefl">TOEFL/TOEIC Preparation</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">No. HP</label>
              <input
                type="text"
                class="form-register"
                id="phone"
                name="phone"
                placeholder="Masukkan No. HP"
                required
              />
            </div>

        <!-- Forum baris 3 -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="level" class="form-label">Pilih Level</label>
            <select class="form-register mb-3" id="level" aria-label="Default select level"
              onchange="updateDescription()" required>
              <option selected value="">Pilih Level</option>
              <!-- Opsi level akan diperbarui berdasarkan program -->
            </select>

          </div>

          <!-- Form baris 4 -->
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="level" class="form-label">Pilih Level</label>
              <select
                class="form-register mb-3"
                id="level"
                name="level"
                onchange="updateDescription()"
                required
              >
                <option selected value="">Pilih Level</option>
                <!-- Opsi level akan diperbarui berdasarkan program -->
              </select>
            </div>
            <div class="col-md-6">
              <label for="paymentProof" class="form-label"
                >Upload Bukti Pembayaran</label
              >
              <input
                type="file"
                class="form-register"
                id="paymentProof"
                name="paymentProof"
                required
              />
            </div>
          </div>


          <!-- Deskripsi -->
          <div id="description" class="mt-3" style="display: none">
            <h4>Program yang diambil</h4>
            <p id="selectedProgram">Program: -</p>
            <p id="selectedLevel">Level: -</p>
            <p id="selectedPrice">Biaya: -</p>
          </div>

        </div>
        <!-- Tempat untuk deskripsi -->
        <div id="description" class="mt-3" style="display: none;">
          <h4>Program yang diambil</h4>
          <p id="selectedProgram">Program: -</p>
          <p id="selectedLevel">Level: -</p>
          <p id="selectedPrice">Biaya: -</p>
        </div>


          <!-- Tombol -->
          <div class="btn-container justify-content-end">
            <button
              type="button"
              class="btn btn-danger"
              onclick="location.href='/program'"
            >
              Batal
            </button>
            <button
              id="submitBtn"
              type="submit"
              class="btn btn-primary"
              disabled
            >
              Kirim
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- FORM END -->

    <!-- PAYMENT -->
    <div class="container-bank py-4">
      <div class="row justify-content-center">
        <div class="col-md-6 p-4 rounded shadow bg-white">
          <div class="row text-center">
            <!-- Card Bank BRI -->
            <div class="col-md-4">
              <div class="card border-0 shadow-sm">
                <div class="card-body">
                  <img
                    src="{{ url_for('static', filename='icon/BRI.png') }}"
                    alt="Bank BRI"
                    class="img-fluid mb-3"
                    style="max-width: 80px"
                  />
                  <h5 class="card-title">BANK BRI</h5>
                  <p class="card-text">1111-11111-1111</p>
                </div>
              </div>
            </div>
            <!-- Card Bank BNI -->
            <div class="col-md-4">
              <div class="card border-0 shadow-sm">
                <div class="card-body">
                  <img
                    src="{{ url_for('static', filename='icon/BNI.png') }}"
                    alt="Bank BNI"
                    class="img-fluid mb-3"
                    style="max-width: 80px"
                  />
                  <h5 class="card-title">BNI</h5>
                  <p class="card-text">2222-222-2222</p>
                </div>
              </div>
            </div>
            <!-- Card Bank BCA -->
            <div class="col-md-4">
              <div class="card border-0 shadow-sm">
                <div class="card-body">
                  <img
                    src="{{ url_for('static', filename='icon/BCA.png') }}"
                    alt="Bank BCA"
                    class="img-fluid mb-3"
                    style="max-width: 80px"
                  />
                  <h5 class="card-title">BCA</h5>
                  <p class="card-text">3333-3333-333</p>
                </div>

  </div>
  <!-- FORM END -->


  <!-- PAYMENT -->
  <div class="container-bank py-4">
    <div class="row justify-content-center">
      <div class="col-md-6 p-4 rounded shadow bg-white">
        <div class="row text-center">
          <!-- Card Bank BRI -->
          <div class="col-md-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <img src="{{ url_for('static', filename='icon/BRI.png') }}" alt="Bank BRI" class="img-fluid mb-3"
                  style="max-width: 80px;">
                <h5 class="card-title">BANK BRI</h5>
                <p class="card-text">1111-11111-1111</p>
              </div>
            </div>
          </div>
          <!-- Card Bank BNI -->
          <div class="col-md-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <img src="{{ url_for('static', filename='icon/BNI.png') }}" alt="Bank BNI" class="img-fluid mb-3"
                  style="max-width: 80px;">
                <h5 class="card-title">BNI</h5>
                <p class="card-text">2222-222-2222</p>
              </div>
            </div>
          </div>
          <!-- Card Bank BCA -->
          <div class="col-md-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <img src="{{ url_for('static', filename='icon/BCA.png') }}" alt="Bank BCA" class="img-fluid mb-3"
                  style="max-width: 80px;">
                <h5 class="card-title">BCA</h5>
                <p class="card-text">3333-3333-333</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- END PAYMENT -->




    <!-- END PAYMENT -->

  <!-- FOOTER -->
  <footer class="text-white text-center py-3">
    <p>
      Copyright &copy; 2024 Kursus Bahasa Inggris | Powered by Kursus Bahasa
      Inggris
    </p>
  </footer>


    <script>
      // VALIADSI BUTTON SUPAYA TIDAK BISA DI KLIK KALAU KOSONG

      const form = document.getElementById("registrationForm");
      const submitBtn = document.getElementById("submitBtn");

      // Validasi form
      form.addEventListener("input", () => {
        const allFieldsFilled = Array.from(
          form.querySelectorAll(".form-register")
        ).every((input) => {
          if (input.type === "file") {
            return input.files.length > 0;
          }
          return input.value.trim() !== "";
        });


  <script>
    // VALIADSI BUTTON SUPAYA TIDAK BISA DI KLIK KALAU KOSONG

    const form = document.getElementById('registrationForm');
    const submitBtn = document.getElementById('submitBtn');


    // Validasi form
    form.addEventListener('input', () => {
      const allFieldsFilled = Array.from(form.querySelectorAll('.form-register')).every((input) => {
        if (input.type === 'file') {
          return input.files.length > 0;
        }
        return input.value.trim() !== '';
      });


      // Fungsi untuk pengiriman data (simulasi)
      function submitForm() {
        if (!submitBtn.disabled) {
          alert("Formulir berhasil dikirim!");
        }

      submitBtn.disabled = !allFieldsFilled;
    });

    // Fungsi untuk pengiriman data (simulasi)
    function submitForm() {
      if (!submitBtn.disabled) {
        alert('Formulir berhasil dikirim!');

      }
    }


      // END VALIDASI BUTTON

      // DESKRIPSI PROGRAM YANG DI PILIH
      const levelData = {
        children: [
          {
            text: "Kindergarden 1-2 / 4 bulan ",
            value: "kindergarden",
            price: 550000,
          },
          {
            text: "Prepatory Class 1A-6B / 4 bulan ",
            value: "prepatory",
            price: 550000,
          },
          {
            text: "Dynamic Conversation for Children / 3 bulan ",
            value: "conversation_children",
            price: 550000,
          },
        ],
        teens: [
          {
            text: "Pre Beginner 1 / 3 bulan ",
            value: "pre_beginner1",
            price: 460000,
          },
          {
            text: "Pre Beginner 2 / 3 bulan ",
            value: "pre_beginner2",
            price: 480000,
          },
          {
            text: "Dynamic Conversation for Teens 1 / 3 bulan ",
            value: "conversation_teens1",
            price: 550000,
          },
          { text: "Beginner 1 / 3 bulan ", value: "beginner1", price: 460000 },
          { text: "Beginner 2 / 3 bulan ", value: "beginner2", price: 480000 },
          {
            text: "Dynamic Conversation for Teens 2 / 3 bulan ",
            value: "conversation_teens2",
            price: 560000,
          },
          {
            text: "Pre Elementary 1 / 3 bulan ",
            value: "pre_elementary1",
            price: 470000,
          },
          {
            text: "Pre Elementary 2 / 3 bulan ",
            value: "pre_elementary2",
            price: 490000,
          },
          {
            text: "Dynamic Conversation for Teens 3 / 3 bulan ",
            value: "conversation_teens3",
            price: 570000,
          },
        ],
        adults: [
          { text: "Basic 1 / 3 bulan ", value: "basic1", price: 480000 },
          { text: "Basic 2 / 3 bulan ", value: "basic2", price: 480000 },
          {
            text: "Dynamic Conversation for Adult 1 - 3 bulan ",
            value: "conversation_adult1",
            price: 600000,
          },
          {
            text: "Elementary 1 / 3 bulan ",
            value: "elementary1",
            price: 480000,
          },
          {
            text: "Elementary 2 / 3 bulan ",
            value: "elementary2",
            price: 505000,
          },
          {
            text: "Dynamic Conversation for Adult 2 / 3 bulan ",
            value: "conversation_adult2",
            price: 610000,
          },
          {
            text: "Intermediate 1 / 3 bulan ",
            value: "intermediate1",
            price: 490000,
          },
          {
            text: "Intermediate 2 / 3 bulan ",
            value: "intermediate2",
            price: 510000,
          },
          {
            text: "Dynamic Conversation for Adult 3 / 3 bulan ",
            value: "conversation_adult3",
            price: 620000,
          },
          {
            text: "Post Intermediate 1 / 3 bulan ",
            value: "post_intermediate1",
            price: 490000,
          },
          {
            text: "Post Intermediate 2 / 3 bulan ",
            value: "post_intermediate2",
            price: 500000,
          },
          {
            text: "Dynamic Conversation for Adult 4 / 3 bulan ",
            value: "conversation_adult4",
            price: 630000,
          },
          { text: "Advance 1 / 4 bulan ", value: "advance1", price: 650000 },
          { text: "Advance 2 / 4 bulan ", value: "advance2", price: 650000 },
        ],
        private: [
          {
            text: "Private di BBC / 10x90 Pertemuan ",
            value: "private_bbc",
            price: 750000,
          },
          {
            text: "Private di Luar / 10x90 Pertemuan ",
            value: "private_outside",
            price: 1050000,
          },
        ],
        toefl: [
          {
            text: "Test TOEFL/TOEIC/ 2 Hours Pertemuan ",
            value: "test_toefl",
            price: 250000,
          },
          {
            text: "Preparation TOEFL / 6x90 Pertemuan ",
            value: "prep_toefl",
            price: 650000,
          },
          {
            text: "Preparation IELTS / 10x90 Pertemuan ",
            value: "prep_ielts",
            price: 1050000,
          },
        ],
      };

      function updateLevelOptions() {
        const programSelect = document.getElementById("program");
        const levelSelect = document.getElementById("level");
        const selectedProgram = programSelect.value;

        // Reset level options
        levelSelect.innerHTML =
          '<option selected value="">Pilih Level</option>';

        // Tambahkan opsi baru
        if (selectedProgram && levelData[selectedProgram]) {
          levelData[selectedProgram].forEach((level) => {
            const option = document.createElement("option");
            option.value = level.value;
            option.textContent = level.text;
            option.dataset.price = level.price;
            levelSelect.appendChild(option);
          });
        }

        // Reset deskripsi
        updateDescription();
      }

      function updateDescription() {
        const programSelect = document.getElementById("program");
        const levelSelect = document.getElementById("level");
        const descriptionDiv = document.getElementById("description");

        const selectedProgram = programSelect.value;
        const selectedLevel = levelSelect.options[levelSelect.selectedIndex];

        // Jika program dan level belum dipilih
        if (!selectedProgram || !selectedLevel.value) {
          descriptionDiv.style.display = "none";
          return;
        }

        // Tampilkan deskripsi
        document.getElementById("selectedProgram").textContent = `Program: ${
          programSelect.options[programSelect.selectedIndex].text
        }`;
        document.getElementById(
          "selectedLevel"
        ).textContent = `Level: ${selectedLevel.text}`;
        document.getElementById(
          "selectedPrice"
        ).textContent = `Biaya: Rp. ${parseInt(
          selectedLevel.dataset.price
        ).toLocaleString("id-ID")}`;
        descriptionDiv.style.display = "block";
      }
      // END DESKRIPSI PROGRAM YANG DI PILIH
    </script>

    <!-- SweetAlert2 -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Ambil pesan dari flash Flask
          const message = "{{ get_flashed_messages(category_filter=['success'])[0] if get_flashed_messages(category_filter=['success']) else '' }}";
          const error = "{{ get_flashed_messages(category_filter=['danger'])[0] if get_flashed_messages(category_filter=['danger']) else '' }}";

          // Jika ada pesan sukses
          if (message) {
              Swal.fire({
                  icon: 'success',
                  title: 'Berhasil!',
                  text: message,
                  confirmButtonText: 'OK'
              });
          }

          // Jika ada pesan error
          if (error) {
              Swal.fire({
                  icon: 'error',
                  title: 'Kesalahan!',
                  text: error,
                  confirmButtonText: 'OK'
              });
          }
      });
  </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

    // END VALIDASI BUTTON



    // DESKRIPSI PROGRAM YANG DI PILIH
    const levelData = {
      children: [
        { text: "Kindergarden 1-2 / 4 bulan ", value: "kindergarden", price: 550000 },
        { text: "Prepatory Class 1A-6B / 4 bulan ", value: "prepatory", price: 550000 },
        { text: "Dynamic Conversation for Children / 3 bulan ", value: "conversation_children", price: 550000 },
      ],
      teens: [
        { text: "Pre Beginner 1 / 3 bulan ", value: "pre_beginner1", price: 460000 },
        { text: "Pre Beginner 2 / 3 bulan ", value: "pre_beginner2", price: 480000 },
        { text: "Dynamic Conversation for Teens 1 / 3 bulan ", value: "conversation_teens1", price: 550000 },
        { text: "Beginner 1 / 3 bulan ", value: "beginner1", price: 460000 },
        { text: "Beginner 2 / 3 bulan ", value: "beginner2", price: 480000 },
        { text: "Dynamic Conversation for Teens 2 / 3 bulan ", value: "conversation_teens2", price: 560000 },
        { text: "Pre Elementary 1 / 3 bulan ", value: "pre_elementary1", price: 470000 },
        { text: "Pre Elementary 2 / 3 bulan ", value: "pre_elementary2", price: 490000 },
        { text: "Dynamic Conversation for Teens 3 / 3 bulan ", value: "conversation_teens3", price: 570000 },
      ],
      adults: [
        { text: "Basic 1 / 3 bulan ", value: "basic1", price: 480000 },
        { text: "Basic 2 / 3 bulan ", value: "basic2", price: 480000 },
        { text: "Dynamic Conversation for Adult 1 - 3 bulan ", value: "conversation_adult1", price: 600000 },
        { text: "Elementary 1 / 3 bulan ", value: "elementary1", price: 480000 },
        { text: "Elementary 2 / 3 bulan ", value: "elementary2", price: 505000 },
        { text: "Dynamic Conversation for Adult 2 / 3 bulan ", value: "conversation_adult2", price: 610000 },
        { text: "Intermediate 1 / 3 bulan ", value: "intermediate1", price: 490000 },
        { text: "Intermediate 2 / 3 bulan ", value: "intermediate2", price: 510000 },
        { text: "Dynamic Conversation for Adult 3 / 3 bulan ", value: "conversation_adult3", price: 620000 },
        { text: "Post Intermediate 1 / 3 bulan ", value: "post_intermediate1", price: 490000 },
        { text: "Post Intermediate 2 / 3 bulan ", value: "post_intermediate2", price: 500000 },
        { text: "Dynamic Conversation for Adult 4 / 3 bulan ", value: "conversation_adult4", price: 630000 },
        { text: "Advance 1 / 4 bulan ", value: "advance1", price: 650000 },
        { text: "Advance 2 / 4 bulan ", value: "advance2", price: 650000 },
      ],
      private: [
        { text: "Private di BBC / 10x90 Pertemuan ", value: "private_bbc", price: 750000 },
        { text: "Private di Luar / 10x90 Pertemuan ", value: "private_outside", price: 1050000 },
      ],
      toefl: [
        { text: "Test TOEFL/TOEIC/ 2 Hours Pertemuan ", value: "test_toefl", price: 250000 },
        { text: "Preparation TOEFL / 6x90 Pertemuan ", value: "prep_toefl", price: 650000 },
        { text: "Preparation IELTS / 10x90 Pertemuan ", value: "prep_ielts", price: 1050000 },
      ],
    };

    function updateLevelOptions() {
      const programSelect = document.getElementById("program");
      const levelSelect = document.getElementById("level");
      const selectedProgram = programSelect.value;

      // Reset level options
      levelSelect.innerHTML = '<option selected value="">Pilih Level</option>';

      // Tambahkan opsi baru
      if (selectedProgram && levelData[selectedProgram]) {
        levelData[selectedProgram].forEach((level) => {
          const option = document.createElement("option");
          option.value = level.value;
          option.textContent = level.text;
          option.dataset.price = level.price;
          levelSelect.appendChild(option);
        });
      }

      // Reset deskripsi
      updateDescription();
    }

    function updateDescription() {
      const programSelect = document.getElementById("program");
      const levelSelect = document.getElementById("level");
      const descriptionDiv = document.getElementById("description");


      const selectedProgram = programSelect.value;
      const selectedLevel = levelSelect.options[levelSelect.selectedIndex];

      // Jika program dan level belum dipilih
      if (!selectedProgram || !selectedLevel.value) {
        descriptionDiv.style.display = "none";
        return;
      }

      // Tampilkan deskripsi
      document.getElementById("selectedProgram").textContent = `Program: ${programSelect.options[programSelect.selectedIndex].text}`;
      document.getElementById("selectedLevel").textContent = `Level: ${selectedLevel.text}`;
      document.getElementById("selectedPrice").textContent = `Biaya: Rp. ${parseInt(selectedLevel.dataset.price).toLocaleString("id-ID")}`;
      descriptionDiv.style.display = "block";
    }
    // END DESKRIPSI PROGRAM YANG DI PILIH

  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>

